{% extends "base.html" %}
{% block title %}Submit an anectode{% endblock %}
{% block extra_path %}../{% endblock %}
{% block extra_path_2 %}../{% endblock %}
{% block css %}forms.css{% endblock %}


{% block content %}
    <form method="POST" action="#">
        {{ form.hidden_tag() }}
        {{ form.url.label }}
        {{ form.url }}
        {{ form.url.validatormessage }}

        {% for field, errors in form.errors.items() %}
            <small>
                {{ ', '.join(errors) }}
            </small>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

{% endblock %}